@media (prefers-color-scheme: light) {
    :root {
        --bg-colour: #f0f2ff;
        --on-background: #e1e5f8;
        --border-colour: #c7ceea;

        /* Typography */
        --text-colour: #474f6e;
        --text-heading: #121629;

        /* Accents */
        --accent-colour: #6666ff;
        --accent-hover: #4d4dde;
        --accent-glow: rgba(102, 102, 255, 0.25);
    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --bg-colour: #0b0d18;
        --on-background: #14172a;
        --border-colour: #212642;

        /* Typography */
        --text-colour: #a3abcc;
        --text-heading: #f0f2ff;

        /* Accents */
        --accent-colour: #8080ff;
        --accent-hover: #6868f0;
        --accent-glow: rgba(128, 128, 255, 0.35);
    }
}

.navbar {
    width: 100%;
    background-color: var(--bg-colour);
    backdrop-filter: blur(12px);
    margin-bottom: 12px;
    border-bottom: 1px solid var(--border-colour);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    margin-left: 12px;
    color: var(--accent-colour);
    letter-spacing: 1px;
    font-family: Outfit;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav-links li a {
    text-decoration: none;
    color: var(--text-colour);
    font-size: 20px;
    padding: 10px;
    border-radius: 32px;
    font-weight: bold;
    font-family: Inter;
    transition: 0.3s;
}

.nav-links li a:hover {
    background-color: var(--on-background);
    border-radius: 32px;
    color: white;
    box-shadow: 0px 0px 10px var(--on-background);
    cursor: pointer;
}

.navbar-buttons {
    display: flex;
}

.btn1 {
    background-color: var(--accent-colour);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 24px;
    padding: 12px;
    margin-right: 12px;
    transition: 0.3s;
}

.btn1:hover {
    box-shadow: 0px 0px 10px var(--accent-colour);
    background-color: var(--accent-hover);
    cursor: pointer;
    border-radius: 12px;
}

body {
    background-position: center;
    background-color: var(--bg-colour);
    margin: 0px;
}
